div#login-form {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

div#login-form input {
    width: 100%;
    margin: 0.5em 0em;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.25em;
}

div#login-form > form > div {
    margin: 0.5em 0em;
}

div#login-form input[type=submit] {
    font-size: 1em;
    margin: 1em 0;
    padding: 0.1em;
}

div#login-form p {
    margin: 2em 0 0 0;
    font-weight: 400;
    line-height: 1.5;
}

div#login-form p.error-info {
    margin: 0;
    color: red;
}


div#login-form p a {
    font-weight: bold;
}

/* TESTING ACCOUNTS */
div#login-form div#brza-prijava {
    margin: 1em auto 1em auto;
    text-align: center;
}
div#login-form div#brza-prijava button {
    font-size: 1em;
    margin: 0.25em;
}