/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100svw; /* Full width */
    height: 100dvh; /* Full height */
    overflow: hidden; /* Disable scrolling */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.disabled {
    pointer-events: none;
}

.blurred {
    filter: blur(2px);
}

/* Entire content below the title is a flex, even though it's called a grid because it looks like one */
div#cart-grid {
    /* background-color: yellow; */
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
}

.hidden {
    visibility: hidden;
}

.loaded {
    visibility: visible;
}

/* These are rows, each row is one product in a shopping cart */
div#cart-grid .product-frame {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

div#cart-grid .product-frame:not(:first-child)::before {
    content: "";
    width: calc(100% - 0.75em*2);
    height: 0px;
    position: absolute;
    transform: translateY(-1em);
    border-top: dotted gray 1px;
}

/* Each product has a sub-section containing it's name and it's price */
div#cart-grid .product-frame .product-info {
    /* background-color: gold; */
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content:space-evenly;
}

/* This applies to both: product price and product title */
div#cart-grid .product-frame .product-info h1, div#cart-grid .product-frame .product-info p {
    margin: 0;
}

/* Single products' title */
div#cart-grid .product-frame .product-info h1 {
    /* background-color: antiquewhite; */
    font-size: 1.1em;
}

/* Single products' price tag */
div#cart-grid .product-frame .product-info p {
    /* background-color: coral; */
    font-size: 0.8em;
}

/* A single product image (icon) on a list */
div#cart-grid .product-frame > img {
    aspect-ratio: 1;
    height: 4em;
    background-size: contain;
    object-fit: cover;
    border-radius: 0.5em;
}

/* For each product in a cart, there's a control section containing it's quantity and a delete button */
div#cart-grid .product-frame .controls {
    /* background-color: cyan; */
    object-fit: cover;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    /* -align-items:first baseline; TEST*/
    align-items: center;
}

/* Quantity-align div is a child of .controls and holds a single helper div, containing three elements (quantity input, qty label and a delete button) */
div#cart-grid .product-frame .controls .quantity-align {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.75em;
}

/* Delete button */
div#cart-grid .product-frame .controls .quantity-align img {
    content:url('/frontend/graphics/delete-x.svg');
    height: 2em;
    user-select: none;
    /* background-color: yellow; */
}

@media (pointer: fine) {
    div#cart-grid .product-frame .controls .quantity-align img:active {
        filter: sepia(1) saturate(300) hue-rotate(20deg);
        content:url('/frontend/graphics/delete-active.svg');
    }
    div#cart-grid .product-frame .controls .quantity-align img:hover {
        content:url('/frontend/graphics/delete-active.svg');
    }
}

@media (pointer: coarse) {
    div#cart-grid .product-frame .controls .quantity-align img:active {
        filter: sepia(1) saturate(300) hue-rotate(20deg);
        content:url('/frontend/graphics/delete-active.svg');
    }
}

/* There's a quantity input element and it's corresponding label in a div */
div#cart-grid .product-frame .controls .quantity-align .quantity-div {
    display: flex;
    flex-direction: column;
    -align-self: center;
}

/* Item quantity input element */
div#cart-grid .product-frame .controls .quantity-align .quantity-div input {
    width: 3em;
}

/* A label for the quantity input element */
div#cart-grid .product-frame .controls .quantity-align .quantity-div label {
    font-size: 0.75rem;
    text-align: center;
    padding: 0.3em;
}

/* A label for the quantity input element in Croatian */
html:lang(en) div#cart-grid .controls .quantity-div label::before {
    content: "qty:";
}

/* A label for the quantity input element in English */
html:lang(hr) div#cart-grid .controls .quantity-align .quantity-div label::before {
    content: "kol.";
}

#total-price hr {
    margin: 1.5em 0;
    padding: 1px;
    color: #FFF0;
    border: 0px solid gray;
}

#total-price #pricing-sum {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#total-price #pricing-sum * {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 1.1em;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
}

#total-price #total-sum-label {
    white-space: nowrap;
}

#total-price #pricing-sum .dots {
    flex: 1;
    position: relative;
    bottom: 0.15em;
    border-bottom: 1px dotted black;
    height: 1em;
    margin: 0 10px;
}

#total-price #total-sum-number {
    white-space: nowrap;
}

#total-price #cart-buttons {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    gap: 1.25em;
}

#total-price #cart-buttons p {
    display: block;
    padding: 1em 1.5em;
    margin: 0;
    display: flex;
    user-select: none;
    text-align: center;
    border-radius: 0.5em;
    border: 2px solid;
    border-color: #a8a8a888;
}

#total-price #cart-buttons #empty-cart-button p {
    background-color: #e7bdbd;
}

#total-price #cart-buttons #order-button p {
    background-color: #bde7c0;
}
