/* main#app {
    box-sizing: border-box;
    margin: 0.75em 0.75em 0em 0.75em;
} */

/* @media screen and (max-width: 440px) { */
/* @media (pointer:coarse) and (max-width: 440px) { */

@media (orientation: portrait) and (max-width: 499px) {

    * {
        background-color: yellowgreen;
    }

    div#big-gallery {
        display: none;
    }

    div#gallery {
        width: 100vw;
        overflow: hidden;
        /* display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem; */
    }

    div#gallery div#slider {
        display: flex;
        width: 400vw;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
    }    
    
    div#gallery #slider div {
        --width: 100vw;
        --height: 100vw;
    }

    div#gallery #slider div img {
        width: 100vw;
        height: 100vw;
        user-select: none;
        object-fit: cover;
        display: block;
    }


    #dot-indicators {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 10px;
    }

    #dot-indicators .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        transition: background 0.3s;
    }

    #dot-indicators .dot.active {
        background: #333;
    }

    div#commerce button#atc-button{
        font-size: 1em;
        padding: 0.3em;
    }

    #app p#description {
        line-height: 1.5;
    }
    
}


@media (orientation: landscape) and (max-height: 450px) {

    * {
        background-color: teal;
    }

    div#gallery {
        display: none;
    }

    div#big-gallery {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: repeat(auto-fit, minmax(65vh, 1fr));
        justify-content: space-between;
        gap: 0.5em;
        width: 100%;
    }
    
    div#big-gallery div {
        min-height: 65vh;
        max-height: 95vh;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }

    div#big-gallery div:first-of-type {
        display: none;
    }

    div#big-gallery div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}

@media ((orientation: landscape) and (min-height: 451px) and (max-width: 1200px)) or ((orientation: portrait) and (min-width: 500px) and (max-width: 1200px)) {
    
    div#gallery {
        display: none;
    }
    
    #big-gallery-container {
        display: grid;
        justify-content: center;
    }

    #big-gallery {
        display: grid;
        grid-template-columns: auto 1fr;
        height: 60vh;
        justify-content: left;
    }
    
    div#big-gallery div.big-image {
        height: 100%;
        max-width: 80vh;
        max-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    div#big-gallery div.big-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
    
    div#big-gallery div.thumbnails {
        --js-corrected-width: 0; /* JS modifies this */
        --thumbnails-per-column: 5; /* JS reads this */
        margin-left: 1em;
        display: grid;
        height: 60vh;
        width: var(--js-corrected-width);
        gap: 0.5em; /* JS reads this */
        align-content: space-around;
        justify-content: space-between;
        grid-auto-flow: row;
    }
  
    div#big-gallery div.thumbnails div {
        --singlethumbsize: 12vh; /* JS reads and modifies this */
        aspect-ratio: 1 / 1;
        height: var(--singlethumbsize);
    }

    div#big-gallery div.thumbnails img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }

}

@media (min-width: 1201px) {

    div#gallery {
        display: none;
    }
    
    #primary-wrapper {    
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
    }
    
    #big-gallery-container {
        display: grid;
        --justify-content: center;
    }

    #big-gallery {
        display: grid;
        grid-template-columns: auto 1fr;
        height: 60vh;
        justify-content: left;
    }
    
    div#big-gallery div.big-image {
        height: 100%;
        max-width: 80vh;
        max-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    div#big-gallery div.big-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
    
    div#big-gallery div.thumbnails {
        --js-corrected-width: 0; /* JS modifies this */
        --thumbnails-per-column: 5; /* JS reads this */
        margin-left: 1em;
        display: grid;
        height: 60vh;
        width: var(--js-corrected-width);
        gap: 0.5em; /* JS reads this */
        align-content: space-around;
        justify-content: space-between;
        grid-auto-flow: row;
    }
  
    div#big-gallery div.thumbnails div {
        --singlethumbsize: 12vh; /* JS reads and modifies this */
        aspect-ratio: 1 / 1;
        height: var(--singlethumbsize);
    }

    div#big-gallery div.thumbnails img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }
}