* {
    box-sizing: border-box;
}

div.shop#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

div.shop#main-grid div.item {
    background-color: pink;
    text-align: center;
}

div#main-grid .item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

div#main-grid .item h3 {
    background-color: antiquewhite;
    margin: 0.2em;
}

div#main-grid .item p {
    margin: 0;
}

div#main-grid .item a {
    color: black;
    text-decoration: none;
}

div#main-grid .item a:visited {
    color: purple;
    text-decoration: none;
}

nav.shop-filter-menu {
    display: flex;
    width: 100%;
    align-items: center;
    flex: 1 1;
    
}

nav.shop-filter-menu img {
    height: 1.8em;
    padding: 0.3em;
    border-radius: 0.2em;
    border: solid black 1px;
    margin-left: auto;
    -margin-right: 0.65em;
}

nav.shop-filter-menu p.filters {
    margin: 0 0.65em;
}